**/dist/**
*.jar
*.log
**/*.class
**/build/**
/SoapHW/nbproject/private/
/ClientSoapHW/nbproject/private/
/RestHW/nbproject/private/
/ClinetRestHW/nbproject/private/
/ClientRestHW/nbproject/private/
/CustomersJSF/nbproject/private/
/CustomersJSF2/nbproject/private/
/ArraySet/nbproject/private/