<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Add customer</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="../../../css/style.css"
              th:href="@{/css/style.css}"/>
    </head>
    <body>
        <div>        
            <form action="index.html" th:action="@{/customers/addCustomer}"
                  method="POST">
                <span th:text="#{label.name}">Name:</span>
                <input type="text" name="name" th:value="${errorValue}"/>
                <span th:text="${errorMessage}" style="color: red">error message</span><br/>
                <input type="submit"/>
            </form>
        </div>
    </body>
</html>
